-- Example 0
4
PPRRS
PPRRP
PPRSP
PPSSP

0
-- Example 1
4
RRRRR
PPPPP
RRRRR
PPPPP

1
-- Example 2
4
RRRRR
PPPPP
SSSSS
PPPPP

2
-- Example 3
6
RRRRR
PPPPP
SSSSS
SSSSS
RRRRR
RRRRR

0
-- Example 4
9
PPRPS
RRRPR
SSPRS
SSPRR
PPRSP
SPRPS
SPRSP
PRSPR
PRSPR

6
